[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/simplexidev/zstd
	branch = sdfx/main
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/simplexidev/miniaudio
	branch = sdfx/main
[submodule "external/libui-ng"]
	path = external/libui-ng
	branch = sdfx/main
	url = https://github.com/simplexidev/libui-ng